.calendar-box{
  display: none;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: separate;
  position: absolute;
  width: 212px;
  background: #fff;
  left: 0;
  top: 10px;
  z-index: 6;
  &:after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 6px 0 6px 6px;
    border-color: transparent transparent transparent #fff;
    right: -6px;
    top: 115px;
  }
  .calendar-head{
    background: #eceff6;
    .month-carousel{
      .carousel-inner{
        color: #414757;
        font-family: open_sanssemibold, Arial, sans-serif;
        display: inline-block;
        vertical-align: 2px;
        margin: 10px 0;
        font-size: 16px;
      }
      .carousel-control{
        font-family: fontawesome, Arial, sans-serif;
        color: rgba(0, 0, 0, .4);
        font-size: 22px;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        padding: 0 10px;
        &:hover{
          color: rgba(0, 0, 0, .7);
        }
      }
    }
    .week-days{
      color: rgba(0, 0, 0, .5);
      font-size: 11px;
      font-family: open_sanssemibold, Arial, sans-serif;
      th{
        padding-bottom: 8px;
      }
    }
  }
  .month-days{
    color: #414757;
    font-size: 11px;
    font-family: open_sanssemibold, Arial, sans-serif;
    text-align: center;
    td{
      padding: 7px 5px 8px;
      border-radius: 50%;
      cursor: pointer;
      vertical-align: top;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
      &.active{
        border: 2px #f66f69 solid;
        padding: 5px;
      }
      &:hover{
        background: #dbdfe2;
      }
    }
  }
}