body {
  font-family: open_sansregular, Arial, sans-serif;  /* Set the default font-family width  */
  font-size: 16px;  /* Set the default font size  */
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  max-width: 600px;  /* Set the max width  */
  padding: 0 20px;
  margin: auto; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

button {
  background: transparent;
  outline: 0;
  border: 0;
  padding: 0; }

.content{
  background: url("../_temp/background.png");
  background-size: cover;
  box-sizing: border-box;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.app-container{
  border-radius: 7px;
  overflow: hidden;
}
.app-body{
  background: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  min-height: 415px;
  position: relative;
  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, .5);
    z-index: -1;
  }
  &.task-details-open:after{
    z-index: 1;
  }
}

.grey-palette{
  background: #52596c;
}
.red-palette{
  background: #fe6d6a;
}
.yellow-palette{
  background: #ffc778;
}
.violet-palette{
  background: #cc94ef;
}
.green-palette{
  background: #2ce4be;
}

.styled-check{
  position: absolute;
  display: inline-block;
  width: 45px;
  top: 0;
  bottom: 0;
  background: #4a4f62;
  input{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    &:checked + label span{
      background: rgba(255, 255, 255, .2);
      border-color: transparent;
      &:after{
        opacity: 1;
      }
    }
  }
  label{
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
    span{
      height: 18px;
      width: 18px;
      border: 1px rgba(255, 255, 255, .4) solid;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -10px 0 0 -10px;
      text-align: center;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
      &:after{
        content: "\f00c";
        font-size: 14px;
        font-family: fontawesome, Arial, sans-serif;
        color: #4a4f62;
        opacity: 0;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        vertical-align: 3px;
      }
    }
  }
}
