.calendar-box.active{
  display: block;
}
.calendar-box{
  display: none;
  position: absolute;
  width: 212px;
  background: #fff;
  right: 100%;
  top: -53px;
  z-index: 10;
  text-align: center;
  &:after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 6px 0 6px 6px;
    border-color: transparent transparent transparent #fff;
    right: -6px;
    top: 68px;
  }
}
.calendar-head{
  background: #eceff6;
  padding: 11px;
  >table{
    width: 100%;
  }
}
.carousel-inner{
  color: #414757;
  font-weight: bold;
  display: inline-block;
  vertical-align: 2px;
  margin-bottom: 10px;
  font-size: 16px;
}
.carousel-control{
  font-family: fontawesome, Arial, sans-serif;
  color: rgba(0, 0, 0, .4);
  font-size: 22px;
  -webkit-transition: color .2s ease;
          transition: color .2s ease;
  padding: 0 10px;
  &:hover{
    color: rgba(0, 0, 0, .7);
  }
}
.week-days{
  color: rgba(0, 0, 0, .5);
  font-size: 11px;
  font-weight: bold;
}
.calendar-body{
  color: #414757;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  padding: 11px 11px 11px 12px;
}
.month-days{
  width: 100%;
  table-layout: fixed;
  border-spacing: 0 3px;
  border-collapse: separate;
  td{
    padding: 5px 0 7px;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: top;
    -webkit-transition: background .2s ease;
            transition: background .2s ease;
    &.active{
      border: 2px #f66f69 solid;
      padding: 3px 0 5px;
    }
    &:hover{
      background: #dbdfe2;
    }
    &.prev-next-month{
      color: rgba(0, 0, 0, .3);
    }
  }
}