.app-header{
  height: 70px;
  background: rgba(255, 255, 255, .3);
  text-align: center;
  position: relative;
}
.preferences-btn{
  width: 60px;
  height: 30px;
  background: transparent;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0 5px;
  &:hover >span{
    background: rgba(255, 255, 255, .5);
  }
  >span{
    display: inline-block;
    background: rgba(255, 255, 255, .2);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
}
.header-title{
  font-size: 20px;
  display: inline-block;
  margin-top: 28px;
  font-weight: normal;
}
.add-btn{
  font-family: fontawesome, Arial, sans-serif;
  color: rgba(255, 255, 255, .5);
  font-size: 28px;
  position: absolute;
  right: 21px;
  bottom: 12px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  &:before{
    content: "\f055";
  }
  &:hover{
    color: rgba(255, 255, 255, 1);
  }
  &.active{
    color: rgba(255, 255, 255, 1);
    &:before{
      content: "\f00d";
    }
  }
}
.search-btn{
  position: absolute;
  bottom: 12px;
  right: 60px;
  padding: 3px;
  &:before {
    content: "\f002";
    font-family: fontawesome, Arial, sans-serif;
    color: rgba(255, 255, 255, .5);
    font-size: 24px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  &:hover{
    &:before {
      color: rgba(255, 255, 255, 1);
    }
  }
  &.active{
    &:before {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.new-task-container.active {
  display: block;
}
.new-task-container{
  text-align: left;
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  z-index: 3;
  display: none;
}
.add-task{
  background: rgba(10, 40, 40, .95);
  padding: 30px 30px 15px;
  .add-text{
    box-sizing: border-box;
    font-size: 28px;
    width: calc(100% - 115px);
    display: inline-block;
    background: transparent;
    border: 0;
    outline: 0;
    resize: none;
    min-height: 46px;
    padding: 0;
    span {
      word-wrap: break-word;
      display: block;
      br {
        display: none;
      }
    }
  }
}
.task-options{
  float: right;
  margin-top: 8px;
  button{
    font-family: fontawesome, Arial, sans-serif;
    color: #fff;
    opacity: .5;
    font-size: 20px;
    vertical-align: top;
    margin-left: 16px;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    &:hover{
      opacity: 1;
    }
    &.active {
      opacity: 1;
    }
  }
  .category{
    height: 24px;
    width: 24px;
    border-radius: 50%;
  }
}
.star-check {
  display: inline-block;
  margin-left: 0;
  color: rgba(255, 255, 255, .5);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  &:hover {
    color: rgba(255, 255, 255, 1);
  }
  input {
    @include visually-hidden;
    &:checked + label{
      .full {
        display: inline-block;
      }
      .blank {
        display: none;
      }
    }
  }
  label {
    cursor: pointer;
  }
  span {
    font-family: fontawesome, Arial, sans-serif;
    font-size: 22px;
  }
  .blank {
    &:before {
      content: "\f006";
    }
  }
  .full {
    display: none;
    &:before {
      content: "\f005";
    }
  }
}

.select-category{
  background: rgba(60, 60, 60, .95);
  padding: 32px 25px 32px 30px;
  position: relative;
  display: none;
  &::before{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent rgba(60, 60, 60, .95) transparent;
    top: -10px;
    right: 34px;
  }
  &.active {
    display: block;
  }
  >span{
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
  }
}
.category-list{
  float: right;
  margin-top: -9px;
  button{
    width: 42px;
    height: 42px;
    display: inline-block;
    border-radius: 50%;
    font-family: fontawesome, Arial, sans-serif;
    font-size: 20px;
    opacity: .6;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    margin-left: 15px;
    &.active{
      opacity: 1;
    }
    &:hover{
      opacity: 1;
    }
  }
}

.search-section.active {
  display: block;
}
.search-section{
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  z-index: 3;
  background: rgba(10, 40, 40, .95);
  text-align: left;
  padding: 25px 25px;
  box-sizing: border-box;
  display: none;
  >span{
    font-family: fontawesome, Arial, sans-serif;
    font-size: 30px;
    color: rgba(255, 255, 255, .8);
    margin-right: 15px;
  }
  >input{
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    font-size: 30px;
    width: calc(100% - 60px);
  }
}