/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: grayscale; }

*, *:before, *:after {
  box-sizing: inherit; }

.content {
  min-width: 640px; }

.wrapper {
  max-width: 600px;
  padding: 50px 20px 20px;
  margin: auto;
  width: 100%;
  box-sizing: content-box; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

button {
  background: transparent;
  outline: 0;
  border: 0;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

.content {
  background: url("../_temp/motocross.jpg") center;
  background-size: cover;
  box-sizing: border-box;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.app-container {
  border-radius: 7px;
  overflow: hidden; }

.app-body {
  background: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  min-height: 417px;
  position: relative;
  overflow: hidden; }
  .app-body:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1; }
  .app-body.task-details-open:after {
    z-index: 1; }

.grey-palette {
  background: #52596c; }

.red-palette {
  background: #fe6d6a; }

.yellow-palette {
  background: #ffc778; }

.violet-palette {
  background: #cc94ef; }

.green-palette {
  background: #2ce4be; }

.styled-check {
  position: absolute;
  display: inline-block;
  width: 45px;
  top: 0;
  bottom: 0;
  background: #4a4f62; }
  .styled-check input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0; }
    .styled-check input:checked + label span {
      background: #778899;
      border-color: transparent;
      opacity: .6; }
      .styled-check input:checked + label span:after {
        opacity: 1; }
  .styled-check label {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
    z-index: 1; }
    .styled-check label span {
      height: 20px;
      width: 20px;
      border: 1px rgba(255, 255, 255, 0.5) solid;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -10px 0 0 -10px;
      -webkit-transition: all .2s ease;
      transition: all .2s ease; }
      .styled-check label span:after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        height: 16px;
        width: 14px;
        content: "\f00c";
        font-size: 14px;
        font-family: fontawesome, Arial, sans-serif;
        color: #4a4f62;
        opacity: 0;
        -webkit-transition: all .2s ease;
        transition: all .2s ease; }

.reset-tasks {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  padding: 5px 10px;
  top: 15px;
  right: 15px;
  border-radius: 3px;
  -webkit-transition: background .2s;
  transition: background .2s; }
  .reset-tasks:hover {
    background: rgba(0, 0, 0, 0.8); }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/../fonts/OpenSans-Regular-webfont.woff2") format("woff2"), url("../fonts/../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/../fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/../fonts/OpenSans-Semibold-webfont.woff2") format("woff2"), url("../fonts/../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/../fonts/OpenSans-Semibold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.calendar-box,
.calendar-box--header {
  display: none;
  position: absolute;
  width: 212px;
  background: #fff;
  right: 100%;
  top: -53px;
  z-index: 10;
  text-align: center; }
  .calendar-box::after,
  .calendar-box--header::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 6px 0 6px 6px;
    border-color: transparent transparent transparent #fff;
    right: -6px;
    top: 68px; }
  .calendar-box.active,
  .calendar-box--header.active {
    display: block; }

.calendar-box--header {
  width: 100%;
  position: relative;
  right: 0;
  top: 0; }
  .calendar-box--header .month-days td {
    border-radius: 0; }
  .calendar-box--header .calendar-head {
    background: rgba(60, 60, 60, 0.95); }
  .calendar-box--header .calendar-body {
    background: rgba(50, 70, 70, 0.95);
    color: rgba(255, 255, 255, 0.8); }
  .calendar-box--header .week-days {
    color: #fff; }
  .calendar-box--header .month-days td {
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease; }
    .calendar-box--header .month-days td:hover {
      color: rgba(0, 0, 0, 0.8); }
  .calendar-box--header .carousel-control {
    color: rgba(255, 255, 255, 0.3); }
    .calendar-box--header .carousel-control:hover {
      color: rgba(255, 255, 255, 0.8); }
  .calendar-box--header .carousel-inner {
    color: rgba(255, 255, 255, 0.6); }
  .calendar-box--header::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent rgba(60, 60, 60, 0.95) transparent;
    top: -10px;
    right: 74px; }

.calendar-head {
  background: #eceff6;
  padding: 11px; }
  .calendar-head > table {
    width: 100%; }

.carousel-inner {
  color: #414757;
  font-weight: bold;
  display: inline-block;
  vertical-align: 2px;
  margin-bottom: 10px;
  font-size: 16px; }

.carousel-control {
  font-family: fontawesome, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.4);
  font-size: 22px;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
  padding: 0 10px; }
  .carousel-control:hover {
    color: rgba(0, 0, 0, 0.7); }

.week-days {
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
  font-weight: bold; }

.calendar-body {
  color: #414757;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  padding: 11px 11px 11px 12px; }

.month-days {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0 3px;
  border-collapse: separate; }
  .month-days td {
    padding: 5px 0 7px;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: top;
    -webkit-transition: background .2s ease;
    transition: background .2s ease; }
    .month-days td.active {
      border: 2px #f66f69 solid;
      padding: 3px 0 5px; }
    .month-days td:hover {
      background: #dbdfe2; }
    .month-days td.prev-next-month {
      color: rgba(0, 0, 0, 0.3); }

.app-header {
  height: 70px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  position: relative; }

.preferences-btn {
  width: 60px;
  height: 30px;
  background: transparent;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0 5px; }
  .preferences-btn:hover > span {
    background: rgba(255, 255, 255, 0.5); }
  .preferences-btn > span {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }

.header-title {
  font-size: 20px;
  display: inline-block;
  margin-top: 28px;
  font-weight: normal; }

.add-btn {
  font-family: fontawesome, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  font-size: 28px;
  position: absolute;
  right: 21px;
  bottom: 12px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }
  .add-btn:before {
    content: "\f055"; }
  .add-btn:hover {
    color: white; }
  .add-btn.active {
    color: white; }
    .add-btn.active:before {
      content: "\f00d"; }

.search-btn {
  position: absolute;
  bottom: 12px;
  right: 60px;
  padding: 3px; }
  .search-btn:before {
    content: "\f002";
    font-family: fontawesome, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }
  .search-btn:hover:before {
    color: white; }
  .search-btn.active:before {
    color: white; }

.new-task-container.active {
  display: block; }

.new-task-container {
  text-align: left;
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  z-index: 3;
  display: none; }

.add-task {
  background: rgba(10, 40, 40, 0.95);
  padding: 30px 30px 15px; }
  .add-task .add-text {
    box-sizing: border-box;
    font-size: 28px;
    width: calc(100% - 115px);
    display: inline-block;
    background: transparent;
    border: 0;
    outline: 0;
    resize: none;
    min-height: 46px;
    padding: 0; }
    .add-task .add-text span {
      word-wrap: break-word;
      display: block; }
      .add-task .add-text span br {
        display: none; }

.task-options {
  float: right;
  margin-top: 8px; }
  .task-options button {
    font-family: fontawesome, Arial, sans-serif;
    color: #fff;
    opacity: .5;
    font-size: 20px;
    vertical-align: top;
    margin-left: 16px;
    -webkit-transition: opacity .2s;
    transition: opacity .2s; }
    .task-options button:hover {
      opacity: 1; }
    .task-options button.active {
      opacity: 1; }
  .task-options .category {
    height: 24px;
    width: 24px;
    border-radius: 50%; }

.star-check {
  display: inline-block;
  margin-left: 0;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }
  .star-check:hover {
    color: white; }
  .star-check input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    margin: 0; }
    .star-check input:checked + label .full {
      display: inline-block; }
    .star-check input:checked + label .blank {
      display: none; }
  .star-check label {
    cursor: pointer; }
  .star-check span {
    font-family: fontawesome, Arial, sans-serif;
    font-size: 22px; }
  .star-check .blank:before {
    content: "\f006"; }
  .star-check .full {
    display: none; }
    .star-check .full:before {
      content: "\f005"; }

.select-category {
  background: rgba(60, 60, 60, 0.95);
  padding: 32px 25px 32px 30px;
  position: relative;
  display: none; }
  .select-category::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent rgba(60, 60, 60, 0.95) transparent;
    top: -10px;
    right: 34px; }
  .select-category.active {
    display: block; }
  .select-category > span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px; }

.category-list {
  float: right;
  margin-top: -9px; }
  .category-list button {
    width: 42px;
    height: 42px;
    display: inline-block;
    border-radius: 50%;
    font-family: fontawesome, Arial, sans-serif;
    font-size: 20px;
    opacity: .6;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    margin-left: 15px; }
    .category-list button.active {
      opacity: 1; }
    .category-list button:hover {
      opacity: 1; }

.search-section.active {
  display: block; }

.search-section {
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  z-index: 3;
  background: rgba(10, 40, 40, 0.95);
  text-align: left;
  padding: 25px 25px;
  box-sizing: border-box;
  display: none; }
  .search-section > span {
    font-family: fontawesome, Arial, sans-serif;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
    margin-right: 15px; }
  .search-section > input {
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    font-size: 30px;
    width: calc(100% - 60px); }

.main-nav {
  position: relative; }

.navbar {
  font-family: fontawesome, Arial, sans-serif;
  font-size: 32px; }
  .navbar li {
    text-align: center;
    position: relative;
    height: 70px;
    width: 70px;
    box-sizing: border-box;
    padding-top: 18px;
    cursor: pointer;
    opacity: .9;
    -webkit-transition: opacity .2s;
    transition: opacity .2s; }
    .navbar li span {
      display: inline-block; }
    .navbar li:hover {
      opacity: 1; }
    .navbar li:after {
      content: "";
      border-style: solid;
      border-width: 8px 8px 8px 0;
      border-color: transparent #4a4f62 transparent transparent;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -8px;
      opacity: 0;
      -webkit-transition: all .2s ease;
      transition: all .2s ease; }
    .navbar li.active:after {
      opacity: 1; }

.setting-btn {
  font-family: fontawesome, Arial, sans-serif;
  background: transparent;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  padding: 7px;
  bottom: 12px;
  left: 18px;
  -webkit-transition: all .2s ease;
  transition: all .5s ease; }
  .setting-btn:hover {
    color: rgba(255, 255, 255, 0.7);
    transform: rotate(360deg); }

.task-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0%;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  margin-top: -1px; }

.task-details {
  position: absolute;
  top: 0;
  right: -60%;
  bottom: 0;
  width: 60%;
  background: #585a71;
  z-index: 3;
  -webkit-transition: right .2s linear;
  transition: right .2s linear; }
  .task-details.active {
    right: 0;
    -webkit-box-shadow: -5px 0 40px 3px black;
    -moz-box-shadow: -5px 0 40px 3px black;
    box-shadow: -5px 0 40px 3px black; }
  .task-details.red-palette-helper {
    border-top: 10px #fe6d6a solid; }
    .task-details.red-palette-helper .category:before {
      background: #fe6d6a; }
    .task-details.red-palette-helper .category:after {
      content: "Home"; }
  .task-details.yellow-palette-helper {
    border-top: 10px #ffc778 solid; }
    .task-details.yellow-palette-helper .category:before {
      background: #ffc778; }
    .task-details.yellow-palette-helper .category:after {
      content: "Work"; }
  .task-details.violet-palette-helper {
    border-top: 10px #cc94ef solid; }
    .task-details.violet-palette-helper .category:before {
      background: #cc94ef; }
    .task-details.violet-palette-helper .category:after {
      content: "Computer"; }
  .task-details.green-palette-helper {
    border-top: 10px #2ce4be solid; }
    .task-details.green-palette-helper .category:before {
      background: #2ce4be; }
    .task-details.green-palette-helper .category:after {
      content: "Friends"; }
  .task-details .controls {
    position: absolute;
    bottom: 15px;
    left: 20px;
    right: 20px; }

.attachment {
  padding: 5px;
  font-family: fontawesome, Arial, sans-serif;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.5);
  float: right;
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }
  .attachment:hover {
    color: rgba(255, 255, 255, 0.8); }

.add-detail {
  margin-left: 17px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }
  .add-detail:hover {
    color: rgba(255, 255, 255, 0.5); }
  .add-detail:before {
    content: "";
    font-family: fontawesome, Arial, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 15px;
    vertical-align: -2px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }
  .add-detail:hover:before {
    color: rgba(255, 255, 255, 0.8); }
  .add-detail.calendar:before {
    content: "\f073"; }
  .add-detail.reminder:before {
    content: "\f017"; }
  .add-detail.category:before {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 15px 0 -3px;
    vertical-align: -6px;
    position: relative; }

.add-detail-item {
  padding: 10px 20px 10px 0;
  position: relative;
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid; }
  .add-detail-item:last-child {
    border: 0; }
  .add-detail-item .styled-check {
    background: inherit;
    width: 50px; }
  .add-detail-item .selected-text {
    margin: 0 0 4px 53px;
    font-weight: normal;
    font-size: 18px;
    width: calc(100% - 105px);
    display: inline-block;
    outline: 0; }
    .add-detail-item .selected-text span {
      word-wrap: break-word;
      min-width: 100%;
      min-height: 19px;
      display: block;
      margin-top: 5px; }
  .add-detail-item.date {
    position: relative; }
  .add-detail-item > .star-check {
    float: right;
    vertical-align: top;
    margin-top: 4px; }
    .add-detail-item > .star-check span {
      font-size: 24px; }

.edit-category {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  transform: translateX(100%);
  transition: all .4s; }
  .edit-category.active {
    transform: translateX(0%); }

.categories {
  background: #585a71;
  height: 100%;
  padding: 0 5px;
  -webkit-transition: transform .2s;
  transition: transform .2s;
  text-align: center;
  font-weight: bold; }
  .categories > button {
    height: 24px;
    display: inline-block;
    margin: 10px 8px 0; }
  .categories .red-palette-helper {
    color: #FE6D6A; }
  .categories .yellow-palette-helper {
    color: #FFC778; }
  .categories .violet-palette-helper {
    color: #CC94EF; }
  .categories .green-palette-helper {
    color: #2CE4BE; }

.edit-reminder {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  padding: 8px 20px 8px 17px;
  transform: translateX(100%);
  transition: all .4s;
  background: #585a71; }
  .edit-reminder.active {
    transform: translateX(0%); }
  .edit-reminder input {
    background: transparent;
    border: 1px solid white;
    margin-right: 10px;
    padding: 2px 10px;
    width: 20px;
    text-align: center;
    font-weight: bold; }
  .edit-reminder .minus {
    margin-right: 5px; }
    .edit-reminder .minus:before {
      content: "\f068";
      font-family: fontawesome; }
  .edit-reminder .plus:before {
    content: "\f067";
    font-family: fontawesome; }
  .edit-reminder .hours {
    display: inline-block;
    margin-right: 25px; }
  .edit-reminder .minutes {
    display: inline-block; }
  .edit-reminder .reminder-controls {
    float: right; }
    .edit-reminder .reminder-controls .save {
      margin: 2px 5px 0 0; }
      .edit-reminder .reminder-controls .save:before {
        content: "\f00c";
        font-family: fontawesome; }

.note-icon {
  font-family: fontawesome, Arial, sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  margin: 3px 12px 0 17px;
  display: inline-block;
  vertical-align: top; }

.note {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: bold;
  width: calc(100% - 65px);
  background: transparent;
  max-height: 200px;
  margin-top: 3px;
  border: 0;
  outline: 0;
  resize: none;
  padding: 0;
  overflow-y: hidden !important; }
  .note::-webkit-input-placeholder {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.3); }
  .note:-moz-placeholder {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.3); }
  .note::-moz-placeholder {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.3); }
  .note:-ms-input-placeholder {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.3); }

.task {
  background: #52596c;
  position: relative;
  vertical-align: top;
  border-top: 1px rgba(255, 255, 255, 0.4) solid; }
  .task.red-palette-helper {
    border-right: 10px #fe6d6a solid; }
  .task.yellow-palette-helper {
    border-right: 10px #ffc778 solid; }
  .task.violet-palette-helper {
    border-right: 10px #cc94ef solid; }
  .task.green-palette-helper {
    border-right: 10px #2ce4be solid; }
  .task.warning .task-inner {
    border-left: 1px #eb605b solid; }
  .task.hidden {
    display: none; }
  .task.important:after {
    content: "\f005";
    font-family: fontawesome, Arial, sans-serif;
    font-size: 20px;
    float: right;
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgba(255, 255, 255, 0.5); }
  .task.task-done {
    background: transparent;
    position: relative; }
    .task.task-done .styled-check {
      background: transparent; }
    .task.task-done:before {
      content: "";
      position: absolute;
      top: -1px;
      right: -10px;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.35);
      z-index: 1; }

.task-inner {
  cursor: pointer;
  width: calc(100% - 45px);
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 20px 28px; }

.task-header {
  color: rgba(255, 255, 255, 0.5); }
  .task-header:after {
    content: " ";
    display: table;
    clear: both; }
  .task-header .info {
    float: left;
    font-size: 11px;
    font-weight: bold; }
    .task-header .info .place {
      padding-right: 7px;
      margin-right: 7px;
      border-right: 1px rgba(255, 255, 255, 0.2) solid; }
      .task-header .info .place:before {
        content: "\f041";
        font-family: fontawesome, Arial, sans-serif;
        font-size: 18px;
        margin-right: 8px;
        vertical-align: -2px;
        font-weight: bold; }
      .task-header .info .place.hidden {
        display: none; }

.task-text {
  padding-top: 10px;
  font-size: 36px;
  max-width: 100%; }
  .task-text span {
    word-wrap: break-word; }

.task-note {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: 0; }

.col-6 {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  float: left; }
  .col-6 .task .task-inner {
    padding: 16px 28px; }
    .col-6 .task .task-inner .task-text {
      font-size: 16px;
      padding-top: 8px;
      line-height: 26px; }
      .col-6 .task .task-inner .task-text span {
        margin-bottom: 7px; }

/*# sourceMappingURL=style.css.map */
